<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930428976451-3j8jmu70pndbkdl2hfkk2l3chl5ku5b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930428976451-3j8jmu70pndbkdl2hfkk2l3chl5ku5b6</string>
	<key>API_KEY</key>
	<string>AIzaSyCfRt50mGAqN2frR-U_ywkfg9PwAixxEkM</string>
	<key>GCM_SENDER_ID</key>
	<string>930428976451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unautrefirebase</string>
	<key>PROJECT_ID</key>
	<string>unautrefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>unautrefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930428976451:ios:3025b33286b8ded4ec43f6</string>
</dict>
</plist>